<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.SpUserMapper">
    <!--表字段与po字段映射-->
    <resultMap id="BaseResultMap" type="com.example.demo.po.SpUser">
        <id column="ID" property="id" />
        <id column="NAME" property="name" />
        <id column="PHONENUMBER" property="phoneNumber" />
        <id column="SEXY" property="sexy" />
        <id column="BIRTHDAY" property="birthDay" />
    </resultMap>

    <sql id="Base_Column_List">
        ID AS id,NAME AS name, PHONENUMBER AS phoneNumber, SEXY AS sexy,BIRTHDAY AS birthDay
    </sql>

    <update id="updateUserMessage">
        UPDATE sp_user set
        name = #{spUser.name,jdbcType = VARCHAR},
        phoneNumber = #{spUser.phoneNumber,jdbcType = VARCHAR},
        birthDay = #{spUser.birthDay,jdbcType = DATE},
        sexy = #{spUser.sexy,jdbcType = VARCHAR}
        WHERE id = #{spUser.id}
    </update>

    <select id="getUserMessage" resultType="java.util.Map">
        SELECT id,name,phoneNumber,sexy,birthDay from sp_user
        where id = #{id}
    </select>


</mapper>
